<a href="https://colab.research.google.com/github/jfas84/estudos-de-inteligencia-artificial/blob/main/curso-IA/python-certificacao/pcep/codigos_basicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operadores e operações matemáticas

In [ ]:
"""
+ => Adição
- => Subtração
* => Multiplicação
/ => Divisão (com resultado fracionário)
// => Divisão (com resultados inteiros)
% => Módulo ou resto
** => Exponenciação ou potenciação
"""

In [ ]:
a = 2
b = 4
print(a + b)

6

In [ ]:
salario = 1500
aumento = 5

print(salario + (salario * aumento / 100))

1575.0

# Operadores relacionais

In [ ]:
"""
== -> igualdade
>  -> maior que
<  -> menor que
!= -> diferente
>= -> maior ou igual
<= -> menor ou igual 
"""
a = 1     # A recebe 1
a == b    # a é igual a b

# Operadores lógicos

In [ ]:
"""
not -> não
and -> e
or  -> ou
"""

# Variáveis string

Para informar que o que estamos atribuindo a uma variável é uma string devemos passar ela dentro de aspas simples ou dupla.

In [ ]:
a = "jorge"
b = 'sofia'

print(a)
print(b)

jorge
sofia

Cada letra dentro de uma string possui um índice, logo podemos acessar uma letra dentro de uma string, para isso devemos informar o seu índice.

No exemplo abaixo, vou buscar a letra 'g' na variável a.

Para isso passamos a variável seguida do abre colchete a posição da letra que queremos retornar e fechamos o colchete.

In [ ]:
print(a[3])

g

## Concatenação de strings

Para concatenar strings usamos o operador de soma +

No exemplo abaixo, atribuo a variável um grupo de string e depois concateno com outra variável.

In [ ]:
a = "Jorge"

print(a + "s")

Jorges

In [ ]:
# Podemos concatenar com outra variável que tenha string

b = "Silva"

print(a + " " + b)

Jorge Silva

Essa forma de concatenação, só pode ser usada com string, se tentamos concatenar variáveis com types distintos teremos um TypeError

In [ ]:
nome = a # Recebo na variável "nome" a variável "a".
idade = 20
print(nome)
print("-----------")
print(nome + idade)

Jorge
-----------

TypeError: ignored

Como pode ser observado, quando tentamos concatenar uma string com um inteiro temos um erro de tipo.

# Marcadores

In [ ]:
"""
%d -> Números inteiros
%s -> Strings
%f -> Número decimais
"""
# Crio uma variável com uma idade

idade = 22
print("%d" % idade)

22